<!DOCTYPE html>
<style media="screen">
  .login_label{
    width: 60px;
    display: inline-block;
  }

  .signup {
    color: white;
  }

</style>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <a class="signup" href="<%= new_user_url %>">Sign Up</a>

    <h3>Log In</h3>

    <form action="<%= session_url %>" method="post">
      <%= auth_token %>

      <label class="login_label" for="email">Email</label>
      <input id="email" type="text" name="user[email]">
      <br>
      <label class="login_label" for="password">Password</label>
      <input type="password" name="user[password]">

      <input type="submit" value="Log In">
  </body>
</html>
