<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Sup <%=  current_user.email %><br><br>
    <a href="<%= new_band_url %>">New Band</a><br>
    <br>
    <a href="<%= bands_url %>">View Bands</a><br>

  </body>
</html>
