<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <a href="<%= user_url(current_user) %>">Back to Home</a>
  <body>
    <h2><%= @band.name %></h2>
  </body>
</html>
